.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  position: absolute;
  background: none;
  display: flex;
  color: white;
  font-size: 1.5em;
  z-index: 3;
  justify-content: space-between;
  width: 100%;
  font-family: 'andale mono', sans-serif;
}

.nav-bar {
  display: flex;
}

.nav-bar div {
  padding-left: 50px;
  float: right;
  text-decoration: underline;
}

.node {
  padding: 4.5em 0;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .3);
}


.hero-image {
  background: url('./images/classroom.jpeg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  position: relative;
  z-index:2;
}
.hero-title {
  font-size: 4em;
  color: white;
  text-align: left;
  padding-top: 2em;
  position: relative;
  left: 85%;
  z-index:2;
}

.hero-block {
  background: #3B7D91;
  width: 100%;
  height: 70vh;
}

.node-image-about {
  background: url('./images/notebook.jpeg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cta {
  background: #E6EFF2;
  padding: 5.5em 0;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.cta-title {
  font-size: 2em;
  padding-bottom: 20px;
}

.cta-button {
  background: #8A5D82;
  font-size: 1.1em;
  padding: 15px 0;
  color: white;
  width: 15%;
  margin: 0 30px;
}

p {
  font-family: 'andale mono', sans-serif;
}

.footer-bar {
  background: #3B7D91;
  color: white;
  /* height: 50px; */
  padding: 15px 0;
}
